<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="mens-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mens-link">
                <a href="" class="dropdown-item">Glasses</a>
                <a href="" class="dropdown-item">Sunglasses</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Frames</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="mens-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                For Him
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="mens-link">
                <a href="{% url 'products' %}?gender=male" class="dropdown-item">Glasses</a>
                <a href="{% url 'products' %}?category=male,sunglasses" class="dropdown-item">Sunglasses</a>
                <a href="{% url 'products' %}?category=male,glasses,sunglasses" class="dropdown-item">All Mens Frames</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="womens-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                For Her
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="womens-link">
                <a href="" class="dropdown-item">Glasses</a>
                <a href="" class="dropdown-item">Sunglasses</a>
                <a href="" class="dropdown-item">All Womens Frames</a>
            </div>
        </li>

        <li class="nav-item">
            <div>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="journal-link">
                Journal
            </a>
        </div>
        </li>

        <li class="nav-item">
            <div>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="contact-link">
                Contact Us
            </a>
        </div>
        </li>
    </ul>
</div>