{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
<meta name="keywords" content="contact, contact us">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <br>
            <h2 class="logo-font text-center mt-3 mb-4">Contact Us</h2>
            <hr>
            <br>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- First column with text -->
          <h2>Common questions:</h2>
          <ul class="list-group">
            <li class="list-group-item">Prescription and Fit: Clients could have concerns about getting the right prescription 
                and making sure their glasses fit them well.</li>
            <li class="list-group-item">Quality Concerns: When considering an internet purchase, 
                some clients might want assurances regarding the glasses' quality.</li>
            <li class="list-group-item">Customization and Personalization: Questions concerning the possibility of tailoring glasses 
                to meet specific requirements and preferences may come up.</li>
            <li class="list-group-item">Information and Help: Clients can look for advice on choosing the appropriate frames, comprehending available lenses,
                 and getting help all the way through the buying procedure.</li>
            <li class="list-group-item">Returns and Exchanges: Inquiries regarding the procedure for returns or exchanges</li>
          </ul>

          
        
        </div>
        <div class="col-md-6">
          <!-- Second column with form -->
          <h2>Looking forward to hearing from you</h2>
          <form action="" method="post" class="list-inline-item col-lg-12">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-black rounded-4 text-center text-uppercase mb-4" value="Submit">
         </form> 
        </div>
      </div>
    </div>
</div>     

{% endblock %}